<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,shrink-to-fit=no"
    />
    <link rel="shortcut icon" href="images/logo.svg" />
    <title>Ice Cream Sundae</title>
    <link rel="stylesheet" href="styles.css" />
  </head>

  <body>
    <div id="app">
      <!-- header start -->
      <header>
        <div class="container vue" id="header">
          <div>
            <img class="logo" v-bind:src="logo" alt="Logo" />
          </div>
          <div class="textRight">
            <img src="images/vue.svg" alt="vue" class="vueLogo" /><strong
              >Vue.js</strong
            >
          </div>
        </div>
      </header>
      <!-- header end -->

      <!-- body start -->
      <div class="mainBody vue" id="body">
        <div class="container vue" id="iceCreamBuilder">
          <!-- icecream start -->
          <Icecream :cart="cart"></Icecream>
          <!-- ice cream end -->

          <!-- builder start -->
          <div class="vue" id="builder">
            <div class="builder">
              <h3>
                Build your own Ice Cream Sundae :
                <span :style="cart.length === 0 ? {color : 'red'} : {}"
                  >({{cart.length}})</span
                >
              </h3>
              <!-- items start -->
              <div id="items">
                <ul>
                  <!-- item start -->
                  <li
                    class="item"
                    :key="variant.id"
                    v-for="variant in variants"
                  >
                    <span>{{variant.name}}</span>
                    <span class="quantity">1</span>
                    <div class="right">
                      <button
                        v-on:click="addToCart(variant.id)"
                        type="button"
                        class="plus rounded"
                      >
                        +
                      </button>
                      <button
                        @click="removeFromCart(variant.id)"
                        type="button"
                        class="minus rounded"
                      >
                        -
                      </button>
                    </div>
                  </li>
                  <!-- item end -->
                </ul>
              </div>
              <!-- items end -->

              <!-- total price start -->
              <div class="total vue" id="total">
                <div>Total Price</div>
                <div>{{total}} Tk</div>
              </div>
              <!-- total price end -->
              <button
                type="button"
                @click="toggleModal()"
                class="order rounded"
              >
                Add to Cart
              </button>
            </div>

            <!-- modal start -->
            <order-form
              :cart="cart"
              :total="total"
              v-if="showModal"
              @toggle-order-form="toggleModal"
              @clear-cart="clearCart"
            ></order-form>
            <!-- modal end -->
          </div>
          <!-- builder end -->
        </div>
      </div>
      <!-- body end -->

      <!-- footer start -->
      <footer>
        <div class="container vue" id="footer">
          <div>Copyright &copy;2020.</div>
          <div class="textRight">
            Built with <span class="red">&hearts;</span> by
            <a
              href="https://vuejs.org/docs/create-a-new-vue-app.html"
              target="_blank"
              >Create vue App</a
            >
          </div>
        </div>
      </footer>
      <!-- footer end -->
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="main.js"></script>
    <script src="./components/Icecream.js"></script>
    <script src="./components/OrderForm.js"></script>
    <script>
      const mountedApp = app.mount("#app");
    </script>
  </body>
</html>
